@use '~normalize.css/normalize.css';

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

$title-font-family: var(--title-font-family);
$title-font-color: var(--title-font-color);
$title-font-weight: var(--title-font-weight);

$font-family: var(--font-family);
$font-color: var(--font-color);

$outlined-border-radius: var(--outlined-border-radius);
$outlined-round-border-radius: var(--outlined-round-border-radius);
// by default the `$input-border-radius`, `$button-border-radius` are using `$base-border-radius`, which can't be supplied by css-vars without a lot further changes
$input-border-radius: $outlined-border-radius;
$button-border-radius: $outlined-border-radius;

$bg-paper: var(--bg-paper);
$bg-body: var(--bg-body);
$bg-paper-transparent: rgba(0, 0, 0, 0.5);
$bg-backdrop: rgba(0, 0, 0, 0.75);

$bg-colors: (
        'paper': $bg-paper,
        'paper-transparent': $bg-paper-transparent,
        'body': $bg-body,
        'backdrop': $bg-backdrop,
        'success': var(--bg-success),
        'info': var(--bg-info),
        'warning': var(--bg-warning),
        'danger': var(--bg-danger),
);

@import '@formanta/sass/meta-base';

// use meta base / configure element defaults
@import "../config/vars-dark-contrast";

@import '@formanta/sass/meta-attributes';

// use meta base & elements / configure components

@import '@formanta/sass/meta-components';

@import '@formanta/sass/style-global';
@import '@formanta/sass/style-components';
@import '@formanta/sass/style-elements';
@import '@formanta/sass/style-attributes';
@import '@formanta/sass/style-base';
