@import "../../../../asset/style/meta";

.content-pane > .sidebar {
    ul {
        li {
            &:last-child {
                @include for-bp-md-up {
                    position : absolute;
                    bottom   : 0;
                    left     : 0;
                    right    : 0;
                }
            }
        }
    }
}