# Formanta Archiver Task
/archive

# Build
/build
/build\.zip

# Tests test-reports
/test-reports
/test-reports\.zip

# Composer
composer\.lock

# PHP Storm
.idea

# IntelliJ
/*.iml

# NodeJS
node_modules
/package-lock.json
/yarn.lock
/yarn-error.log

# Composer
vendor

# Bower
bower_components

# Cache
tmp
!tmp/.gitkeep

# Mac
.DS_Store\