// a global reset, as there is no `p` rule included since formanta `0.22.0`
p {
    margin: 0
}

//
// all custom selectors must be added to `ignoreSystemClasses` in `_base.twig`
// so they are ignored with the inspect mode
//

.bg-grey {
    height: 2rem;
    position: relative;

    &::after {
        content: '';
        margin: space(1);
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

.bg-blue {
    height: 2rem;
    position: relative;

    &::after {
        content: '';
        margin: space(1);
        position: absolute;
        inset: 0;
        z-index: 1;
    }
}

.grid-s05, .grid-s1, .grid-s2 {
    & .bg-grey {
        height: auto;

        &::after {
            margin: 0;
        }
    }

    & .bg-blue {
        height: calc(2rem - 10px);

        &::after {
            margin: 0;
        }
    }
}

.bg-grey-raw {
}

.demo-title {
    padding: space(2) space(4) space(2) space(3);
    position: sticky;
    z-index: 6;
    top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h3.demo-title {
    padding-left: space(2) * 3;
}

h4.demo-title {
    padding-left: space(2) * 4;
}

.container .demo-title {
    margin-left: space(4) * -1;
    margin-right: space(4) * -1;
}

.copy-success {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6px;
    font-size: 0.85rem;
    padding: 3px;
}

