@use '~normalize.css/normalize.css';
@import '@formanta/sass/meta-base';

@import 'shared';

@import '@formanta/sass/meta-attributes';
@import '@formanta/sass/meta-components';

.bg-grey {
    &:after {
        background: #818383;
    }
}

.bg-blue {
    &:after {
        background: #7aa1ea;
    }
}

.bg-grey-raw {
    background: #818383;
    color: white;
}

.demo-title {
    background: $bg-contained;
    border-bottom: 1px solid $color-divider;
    //background: $color-gray-300;
    color: $title-font-color;
}

.copy-overlay {
    border: 1px solid #666;
    background: #ffffff;
}

.copy-success {
    background: rgba(200, 200, 200, 0.9);
    color: #000000;
}

@import '@formanta/sass/style';
