$title1-selector: 'h1, .h1';
$title2-selector: 'h2, .h2';
$title3-selector: 'h3, .h3';
$title4-selector: 'h4, .h4';
$title5-selector: 'h5, .h5';
$title6-selector: 'h6, .h6';

@import "prebuild/main-dark-cssvars";

@import 'shared';

.bg-grey {
    &::after {
        background: #292f2f;
    }
}

.bg-blue {
    &::after {
        background: #1d5093;
    }
}

.bg-grey-raw {
    background: #292f2f;
    color: #c2c2c2;
}

.demo-title {
    background: $code-bg-color;
    color: $title-font-color;
    border-bottom: $base-border-width solid $color-divider;
}

.copy-overlay {
    background: $bg-body;
}

.copy-success {
    background: rgba(30 37 40 / 0.9);
    color: #000000;
}
