@use '~normalize.css/normalize.css';
@import '@formanta/sass/meta-base';

@import 'config/vars-dark';

@import '@formanta/sass/meta-attributes';
@import '@formanta/sass/meta-components';

@import 'shared';

.bg-grey {
    &:after {
        background: #292f2f;
    }
}

.bg-blue {
    &:after {
        background: #1d5093;
    }
}

.bg-grey-raw {
    background: #292f2f;
    color: #c2c2c2;
}

.demo-title {
    background: $code-bg-color;
    color: $title-font-color;
}

.copy-overlay {
    background: $bg-body;
}

.copy-success {
    background: rgba(30, 37, 40, 0.9);
    color: #000000;
}

@import '@formanta/sass/style';

