@import '~normalize.css/normalize.css';
@import '~@formanta/sass/meta';

// a global reset, as there is no `p` rule included since formanta `0.22.0`
p {
    margin: 0
}

//
// all custom selectors must be added to `ignoreSystemClasses` in `_base.twig`
// so they are ignored with the inspect mode
//

.bg-grey {
    height: 2rem;
    position: relative;

    &:after {
        background: grey;
        content: '';
        margin: space(1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.bg-blue {
    height: 2rem;
    position: relative;

    &:after {
        background: cornflowerblue;
        content: '';
        margin: space(1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

.grid-s05, .grid-s1, .grid-s2 {
    & .bg-grey {
        height: auto;

        &:after {
            margin: 0;
        }
    }
}

.grid-s05, .grid-s1, .grid-s2 {
    & .bg-blue {
        height: calc(2rem - 10px);

        &:after {
            margin: 0;
        }
    }
}

.bg-grey-raw {
    background: grey;
    color: white;
}

.demo-title {
    background: lightgrey;
    color: black;
    font-style: italic;
    padding: space(2) space(4);
    margin-top: space(5)
}

.copy-success {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6px;
    font-size: 0.85rem;
    padding: 3px;
    background: rgba(200, 200, 200, 0.9);
    color: #000000;
}

@import '~@formanta/sass/style';

