@import "../../../../asset/style/meta";

.auth {
    margin : 0 auto;
    @include for-bp-md-up {
        @media (min-height : 700px) {
            margin-top : -250px;
        }
    }
    @include for-bp-md-up {
        max-width : 450px;
    }
    &--intro {
        text-align : center;
        font-size  : 1.15rem;
        //color      : $theme--font--gray;

        margin     : 0 0 6px 0;
    }
    &--intro--editor {
        text-align     : center;
        text-transform : lowercase;
        font-size      : 1.8rem;
        letter-spacing : 2px;
        font-weight    : bold;
        //font-family    : $theme--font--monospace;
        color          : #ededed;

        margin         : 0;
    }
    form {
        display    : flex;
        flex-wrap  : wrap;
        margin-top : 32px;
        .loading--pulse {
            display : none;
            margin  : 0 auto;
        }
        p {
            margin : 0 auto;
        }
        input {
            display             : block;
            width               : 100%;
            @include for-bp-md-up {
                width        : 60%;
                margin-left  : 20%;
                margin-right : 20%;
            }
            border              : 0 solid #2b81af;
            border-bottom-width : 1px;

            background          : transparent;
            margin              : 6px 0 12px 0;
            padding             : 6px 3px;

            //color               : $theme--font--gray;
            font-size           : 1rem;

            transition          : border $theme--transition;
            &:focus,
            &:active {
                border-color : #13492b;
            }
        }
        button {
            display     : block;
            width       : 100%;
            @include for-bp-sm-up {
                width        : 40%;
                margin-left  : 30%;
                margin-right : 30%;
            }

            //color       : $theme--font--gray;
            font-size   : 1rem;
            font-weight : bold;

            cursor      : pointer;
            //border      : 1px solid $theme--font--gray;

            padding     : 12px;
            margin      : 6px 0;

            transition  : color $theme--transition, background $theme--transition, border $theme--transition;
            &:hover {
                color        : #1c1d2a;
                border-color : #1c1d2a;
                //background   : $theme--font--gray;
            }
        }

        // state classes
        &.authenticating {
            .loading--pulse {
                display : inline-block;
            }
        }
        &.authenticated {
            button {
                border-color : $theme--color-success;
            }
        }
        &.auth-mismatch {
            input {
                border-color : $theme--color-error;
            }
        }
    }
}