{% extends 'base/content.twig' %}

{% block head_style %}
    <link href="{{ url.asset }}/asset/style.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block footer_inner__ %}
    <div class="footer--begin">

    </div>
    <div class="footer--end">
        <p>© 2015 - 2018 <a href="https://bemit.eu">bemit
                <small> UG (haftungsbeschränkt)</small>
            </a> | <a href="https://support.bemit.codes">Support</a></p>
    </div>
{% endblock %}